.errors {
  background-color: #fae8ec;
  border-left: 8px solid red;
  border-radius: 5px;
  color: #0c0c0c;
  text-align: left;
  width: 80vw;
}

.error {
  font-size: 14px;
  margin-bottom: 16px;
  width: 75vw;
}

.error:first-child {
  margin-top: 16px;
}

.error::marker {
  content: url(/src/icons/error-icon.svg);
}

@media only screen and (min-width: 960px) {
  .errors {
    margin: 30px auto 20px;
    width: 80%;
  }

  .error {
    width: 90%;
  }
}
