.theme-picker {
  align-items: flex-end;
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 5%;
  right: 5%;
}

.theme-picker-btn {
  background-color: var(--main-theme-color);
  border: 1px solid transparent;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.theme-picker-btn img {
  width: 40px;
}

.sketch-picker.hidden {
  display: none;
}
